/* EditVideo.module.css */
.editContainer {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.editContainer input,
.editContainer textarea {
    padding: 0.5rem;
}

.editContainer button {
    background: #f59e0b;
    color: white;
    padding: 0.5rem 1rem;
}